.border-right {
  border-right: silver solid 1px;
}

.border-left {
  border-left: silver solid 1px;
}

.fas {
  color: white;
}

.blue {
  color: blue !important;
}

.pointer:hover {
  cursor: pointer;
}

table {
  table-layout: fixed;
}

input {
  width: 100%;
}

.minWidthValue {
  width: 100px;
}

.minWidthHour {
  width: 124px;
}

.minWidthDate {
  width: 204px;
}