.border-right {
  border-right: silver solid 1px;
}

.border-left {
  border-left: silver solid 1px;
}

.fas {
  color: white;
}

.blue {
  color: blue !important;
}

.pointer:hover {
  cursor: pointer;
}

.maxWidthDate {
  max-width: 140px;
}

.maxWidthValeur {
  max-width: 40px;
}