h2 {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 40px;
  text-align: center;
}

button {
  width: 100%;
}

.someSpace {
  padding-bottom: 10px;
  text-align: center;
}