<div class="row">
  <div class="col-md-4 offset-md-1">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <input type="text" placeholder="Adresse mail" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': loginSubmitted && f.username.errors }" />
        <div *ngIf="loginSubmitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Adresse mail requise</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Mot de passe" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': loginSubmitted && f.password.errors }" />
        <div *ngIf="loginSubmitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Mot de passe requis</div>
        </div>
      </div>
      <div class="someSpace">
        <a [routerLink]="['/login/askreset']">Mot de passe oublié ?</a>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Login</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </form>
  </div>

  <div class="col-md-4 offset-md-2">
    <h2>Demande de compte</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="form-group">
        <input type="text" placeholder="Adresse mail" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': registerSubmitted && r.username.errors }" />
        <div *ngIf="registerSubmitted && r.username.errors" class="invalid-feedback">
          <div *ngIf="r.username.errors.required">Adresse mail requise</div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Prénom" formControlName="first_name" class="form-control" [ngClass]="{ 'is-invalid': registerSubmitted && r.first_name.errors }" />
        <div *ngIf="registerSubmitted && r.first_name.errors" class="invalid-feedback">
          <div *ngIf="r.first_name.errors.required">Prénom requis</div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Nom" formControlName="last_name" class="form-control" [ngClass]="{ 'is-invalid': registerSubmitted && r.last_name.errors }" />
        <div *ngIf="registerSubmitted && r.last_name.errors" class="invalid-feedback">
          <div *ngIf="r.last_name.errors.required">Nom requis</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Mot de passe (JE DOIS DISPARAITRE A TERME)" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': registerSubmitted && r.password.errors }" />
        <div *ngIf="registerSubmitted && r.password.errors" class="invalid-feedback">
          <div *ngIf="r.password.errors.required">Mot de passe requis</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Inscription</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

      </div>
    </form>
  </div>
</div>
