<div id="accordion">
  <div class="card">
    <div class="card-header" id="Inscription/Connexion">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Q : Question 1
        </button>
      </h5>
    </div>
    <div class="card-header" id="Carte">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Q : Question 1
        </button>
      </h5>
    </div>
    <div class="card-header" id="Mes Stations">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Q : Question 1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        R : Response to Q1.
      </div>
    </div>
  </div>
</div>
