<h3>Inscription/Connexion</h3>
<div id="accordion-register-login">

  <div class="card">
    <div class="card-header" id="register" data-toggle="collapse" data-target="#child_register" aria-expanded="true" aria-controls="collapseOne">
      <h5 class="mb-0">
        <button class="btn btn-link" >
          Comment s'inscire à l'application ?
        </button>
      </h5>
    </div>
    <div id="child_register" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-register-login">
      <div class="card-body">
        Rendez-vous sur la page <a href="/login"> se connecter</a>. <br/>
        La section "Demande de compte" permet d'envoyer une demande d'accès à l'application.<br/>
        Pour la demande vous devez obligatoirement fournir:
        <ul>
          <li>Une adresse e-mail valide</li>
          <li>Un prénom</li>
          <li>Un nom</li>
          <li>Un rôle qui peut être:</li>
          <ul>
            <li>Administrateur</li>
            <li>Chercheur</li>
            <li>Employé</li>
          </ul>
        </ul>

        <p class="text-danger">Une fois la demande envoyée, un administrateur devra valider votre inscription.<br/></p>
        Une fois le demande validée, un lien vous sera envoyé sur votre e-mail pour que vous puissiez choisir un mot de passe. <br/>
        Si votre demande est refusée, un e-mail vous sera envoyé avec une explication si l'administrateur en a précisée une.

      </div>
    </div>

      <div class="card-header" id="login" data-toggle="collapse" data-target="#child_login" aria-expanded="true" aria-controls="collapseOne">
        <h5 class="mb-0">
          <button class="btn btn-link" >
            Comment se connecter ?
          </button>
        </h5>
      </div>
      <div id="child_login" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-register-login">
        <div class="card-body">
          Rendez-vous sur la page <a href="/login"> se connecter</a>. <br/>
          Dans la section "Se connecter", entrez votre e-mail et le mot de passe que vous choisi.
        </div>
      </div>

        <div class="card-header" id="mdp" data-toggle="collapse" data-target="#child_mdp" aria-expanded="true" aria-controls="collapseOne">
          <h5 class="mb-0">
            <button class="btn btn-link" >
              Comment changer mon mot de passe ?
            </button>
          </h5>
        </div>
        <div id="child_mdp" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-register-login">
          <div class="card-body">
            Rendez-vous sur la page <a href="/login/askreset"> récupérer mon compte</a>. Un lien vous sera envoyé pour mettre à jour votre mot de passe.<br/>
          </div>
        </div>

  </div>
</div>

<h3>Carte</h3>
<h3 >Station</h3>
<div id="accordion-station">
  <div class="card">
    <div class="card-header" id="detailStation" data-toggle="collapse" data-target="#child_detailStation" aria-expanded="true" aria-controls="collapseOne">
      <h5 class="mb-0">
        <button class="btn btn-link" >
          Comment afficher le détail d'une station ?
        </button>
      </h5>
    </div>
    <div id="child_detailStation" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-station">
      <div class="card-body">
        Rendez-vous à la page <a href="map">Carte</a> ou <a href="/stations">Mes stations</a> et recherchez votre station.
        Pour afficher son détail, appuyer sur le bouton: <i class="fas fa-external-link-alt"></i>
      </div>
    </div>



    <div class="card-header" id="addStation" data-toggle="collapse" data-target="#child_addStation" aria-expanded="true" aria-controls="collapseOne">
      <h5 class="mb-0">
        <button class="btn btn-link" >
          Comment ajouter une station ?
        </button>
      </h5>
    </div>
    <div id="child_addStation" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-station">
      <div class="card-body">
        <p>Rendez-vous à la page <a href="/stations">Mes stations</a> et cliquez sur le bouton <button class="btn btn-primary"> Ajouter une station <i class="fas fa-plus-circle" ></i> </button></p>
        Pour ajouter une station il faut obligatoirement:
        <ul>
          <li>Un nom</li>
          <li>Une intervalle</li>
          <li>Une commune</li>
          <li>Un bassin versant</li>
          <li>Une latitude</li>
          <li>Une longitude</li>
          <li>Une date de création</li>
        </ul>
        <p><i>Pour la latitude/longitude, vous pouvez directement cliquer sur la map afin de placer votre station.</i></p>

        Vous pouvez ajouter optionnellment:
        <ul>
          <li>Une altitude</li>
          <li>Une première note</li>
        </ul>

        <p class="text-danger">Une fois que vous avez validé votre station, un administrateur doit valider celle-ci.</p>
      </div>
    </div>


    <div class="card-header" id="updateStation" data-toggle="collapse" data-target="#child_updateStation" aria-expanded="true" aria-controls="collapseOne">
      <h5 class="mb-0">
        <button class="btn btn-link">
          Comment modifier une station ?
        </button>
      </h5>
    </div>
    <div id="child_updateStation" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-station">
      <div class="card-body">
        <ul>
          <li>Rendez-vous à la page <a href="/stations">Mes stations</a> et cliquez sur le bouton: <i class="fas fa-edit fa-fw fa-1x"></i> de la station à modifier.</li>
          <li>Rendez-vous sur le détail de la station et cliquez sur le bouton
            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updateStationModal">
            Modifier la station
            <i class="fas fa-edit white"></i>
          </button></li>
        </ul>
        <p class="text-danger">Vous n'avez pas le droit de modifier l'intervalle d'une station. <br/>
        Cette fonctionnalité est réservé à l'adminstrateur.</p>
        </div>
      </div>


    <div class="card-header" id="noteStation" data-toggle="collapse" data-target="#child_noteStation" aria-expanded="true" aria-controls="collapseOne">
      <h5 class="mb-0">
        <button class="btn btn-link">
          Comment ajouter une note à une station ?
        </button>
      </h5>
    </div>
    <div id="child_noteStation" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-station">
      <div class="card-body">
        <ul>
          <li>Rendez-vous à la page <a href="/stations">Mes stations</a> et cliquez sur le bouton: <i class="fas fa-sticky-note fa-fw fa-lx"></i></li>
          <li>Rendez-vous sur le détail de la station et cliquez sur l'onglet "notes".</li>
        </ul>
      </div>
    </div>
    
    
  </div>
</div>

<h3>Données</h3>
<h3>Gestion des utilisateurs</h3>
