// User body
{
    "mail" : "dorian2",
    "pwd" : "mdp",
    "type": "lamba"
}

//Station body
{
  "name": "Cavaillon 1",
  "latitude": "18.303355",
  "longitude": "-73.663066",
  "type": "hydro",
  "users": ["5bad30433306b7110c321706"],
  "state": "validated"
}
