<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title" id="addStationModalLabel">Télécharger des données</h1>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">

        <div class="row">
          <div class="col-md-12">


            <div class="row">
              <div class="col-md-3">
                <div class="form-group">

                  <select class="form-control" id="interval" [(ngModel)]="selectedInterval">
                    <option value="" disabled selected>Intervalle</option>
                    <option *ngFor="let i of intervals" [value]="i">{{i}}</option>
                  </select>

                </div>
              </div>
              <div class="col-md-9">

                <div class="form-group">
                  <span>Télécharger les données du  </span>
                  <!--<input id="datePickerDownload" placeholder="Intervale de date" type="text" class="flatpickr flatpickr-input form-control">-->
                  <mat-form-field>
                    <input matInput id="StartDate" [matDatepicker]="StartDate" [max]="dateEnd" [(ngModel)]="dateStart" placeholder="Debut" disabled>
                    <mat-datepicker-toggle matSuffix [for]="StartDate"></mat-datepicker-toggle>
                    <mat-datepicker #StartDate disabled="false"></mat-datepicker>
                  </mat-form-field>
                  <span> au </span>
                  <mat-form-field>
                    <input matInput id="EndDate" [matDatepicker]="EndDate" [min]="dateStart" [(ngModel)]="dateEnd" placeholder="Fin" disabled>
                    <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
                    <mat-datepicker #EndDate disabled="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button (click)="sendStation()" type="submit" class="btn btn-success" data-dismiss="modal">
            Télécharger
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
