<div *ngIf="station">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        Station : {{station.name}}
      </div>
      <div class="col-md-4">
        Commune : {{station.commune}}
      </div>
      <div class="col-md-4">
        Rivière : {{station.river}}
      </div>
    </div>
  </div>
</div>

<div>
  <div>
    <label>
      Données
    </label>
    <select (change)="rangeDataChange($event.target.value)">
      <option *ngFor="let i of rangeData" [value]="i">{{i}}</option>
    </select>
  </div>

  <div *ngIf="'Mensuelles'===rangeSelected">
    <i (click)="updateYearSelected('add')" class="fas fa-arrow-circle-left"></i>
    <input (change)="changeYear($event.target.value)" size="4" type="text"  [ngModel]="yearSelected">
    <i *ngIf="yearSelected !== currentYear" (click)="updateYearSelected('sub')" class="fas fa-arrow-circle-right"></i>
  </div>

  <div *ngIf="'Journalières'===rangeSelected">
    <i (click)="updateMonthSelected('add')" class="fas fa-arrow-circle-left"></i>
    <input  (change)="changeMonth($event.target.value)" size="2" type="text"  [ngModel]="monthSelected"> &nbsp; / &nbsp; <input (change)="changeYear($event.target.value)" size="4" type="text"  [ngModel]="yearSelected">
    <i *ngIf="!(monthSelected === currentMonth && yearSelected === currentYear)" (click)="updateMonthSelected('sub')" class="fas fa-arrow-circle-right"></i>
  </div>

  <div [hidden]="'Horaires'!==rangeSelected">
    <input id="datePicker" placeholder="Date" type="text" class="flatpickr flatpickr-input form-control" required>
  </div>

  <div>
    <div [hidden]="!dataLoading" class="text-center container">
      <i class="fas fa-spinner fa-spin fa-7x"></i>
    </div>
    <div [hidden]="dataLoading || hide === true" id="containerLine" style="width:100%; height:400px;"></div>
    <div [hidden]="dataLoading || hide === true" id="containerBar" style="width:100%; height:400px;"></div>
  </div>
</div>

