<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay">
  </div>
  <div class="col-xl-12">
    <h1>Application de gestion et de centralisation des données pluviométriques sur de l'ensemble du territoire haitien.</h1>
  </div>
</header>


<div class="container">
  <!-- /.row -->
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"><i class="fas fa-home fa-3x"></i> Stations </h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading"><i class="fas fa-tint fa-3x"></i> Données Pluviométriques </h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading"><i class="fas fa-users fa-3x"></i> Utilisateurs </h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
      </div>
    </div>
  </div>
</div>
<!-- /#page-wrapper -->