<!-- Masthead -->
<div class="overlay">
  <header class="masthead text-white text-center">


    <div class="col-xl-12">
      <h1>Application de gestion et de centralisation des données pluviométriques sur de l'ensemble du territoire haitien</h1>
    </div>

    <div class="container">
      <br />
      <div class="row">
        <div class="col-md-4">
          <div class="alert alert-success" role="alert" [hidden]="!stationStats">
            <h4 class="alert-heading"><i class="fas fa-home fa-3x"></i> {{stationStats.total}} Stations au total </h4>
            <hr>
            <p>{{stationStats.awaiting}} stations à valider</p>
            <p>{{stationStats.working}} stations en activité</p>
            <p>{{stationStats.broken}} stations en panne</p>
            <p>{{stationStats.deleted}} stations pas en activité</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading"><i class="fas fa-tint fa-3x"></i> {{data.ok + data.awaiting}} Données Pluviométriques </h4>
            <hr>
            <p>{{data.ok}} données valides</p>
            <p class="mb-0">{{data.awaiting}} données à valider</p>
          </div>
        </div>

        <div class="col-md-4" *ngIf="usersStats">
          <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading"><i class="fas fa-users fa-3x"></i> {{usersStats.admin + usersStats.worker + usersStats.viewer}} Utilisateurs </h4>
            <hr>
            <p>{{usersStats.admin}} admins</p>
            <p>{{usersStats.worker}} employés</p>
            <p>{{usersStats.viewer}} chercheurs</p>
          </div>
        </div>
      </div>
    </div>

  </header>



  <!-- /#page-wrapper -->
</div>