<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title" id="addStationModalLabel">Modifier une station</h1>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <form (ngSubmit)="onSubmit()" [formGroup]="updateStationForm" #updateStationFormNg="ngForm">
          <div class="row">
            <div class="col-md-6">


              <div class="form-group">
                <input id="name" class="form-control" placeholder="Nom" formControlName="name" required>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                  <div *ngIf="name.errors.required">
                    Le nom est requis.
                  </div>
                  <div *ngIf="name.errors.maxlength">
                    Le nom ne peut pas dépasser 20 caractères.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">

                    <select class="form-control" id="interval" formControlName="interval" required>
                      <option value="" disabled selected>Intervalle</option>
                      <option *ngFor="let i of intervals" [value]="i">{{i}}</option>
                    </select>

                    <div *ngIf="interval.invalid && (interval.dirty || interval.touched)" class="alert alert-danger">
                      <div *ngIf="interval.errors.required">
                        Une intervalle est requise
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control" id="commune" formControlName="commune" required>
                      <option value="" disabled selected>Commune</option>
                      <option *ngFor="let i of communes" [value]="i">{{i}}</option>
                    </select>

                    <div *ngIf="commune.invalid && (commune.dirty || commune.touched)" class="alert alert-danger">
                      <div *ngIf="commune.errors.required">
                        Une commune est requise
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">

                    <select class="form-control" id="river" formControlName="river" required>
                      <option value="" disabled selected>Rivière</option>
                      <option *ngFor="let i of rivers" [value]="i">{{i}}</option>
                    </select>

                    <div *ngIf="river.invalid && (river.dirty || river.touched)" class="alert alert-danger">
                      <div *ngIf="river.errors.required">
                        Une rivière est requise
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md">
                  <div class="form-group">
                    <input type="number" class="form-control" id="latitude" placeholder="Latitude" formControlName="latitude" required>
                    <div *ngIf="latitude.invalid && (latitude.dirty || latitude.touched)" class="alert alert-danger">
                      <div *ngIf="latitude.errors.required">
                        La latitude est requise
                      </div>
                      <div *ngIf="latitude.errors.min">
                        La valeur est trop petite
                      </div>
                      <div *ngIf="latitude.errors.max">
                        La valeur est trop grande
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-group">
                    <input type="number" class="form-control" id="longitude" placeholder="Longitude" formControlName="longitude" required>
                    <div *ngIf="longitude.invalid && (longitude.dirty || longitude.touched)" class="alert alert-danger">
                      <div *ngIf="longitude.errors.required">
                        La longitude est requise
                      </div>
                      <div *ngIf="longitude.errors.min">
                        La valeur est trop petite
                      </div>
                      <div *ngIf="longitude.errors.max">
                        La valeur est trop grande
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-group">
                    <input type="number" class="form-control" id="altitude" placeholder="Altitude" formControlName="altitude">
                    <div *ngIf="altitude.invalid && (altitude.dirty || altitude.touched)" class="alert alert-danger">
                      <div *ngIf="altitude.errors.required">
                        La longitude est requise
                      </div>
                      <div *ngIf="altitude.errors.min">
                        La valeur est trop petite
                      </div>
                      <div *ngIf="altitude.errors.max">
                        La valeur est trop grande
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md">
                  <div class="form-group">
                    <input id="createdAt2" placeholder="Date de création" type="text" class="flatpickr flatpickr-input form-control" formControlName="createdAt" required>
                    <div *ngIf="createdAt.invalid && (createdAt.dirty || createdAt.touched)" class="alert alert-danger">
                      <div *ngIf="createdAt.errors.required">
                        La longitude est requise
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md">

                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div id="mapid2">
              </div>
            </div>
          </div>

          <!--<div class="row">
            <div class="col-sm">
              <div class="form-group">
                &lt;!&ndash;TODO make your business here!! &ndash;&gt;
                <label for="longitude">Note</label>
                <textarea rows="6" class="form-control" id="longitude"
                          formControlName="longitude" required"></textarea>

              </div>
            </div>
          </div>-->

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="resetStation()">Réinitialiser</button>
            <button (click)="resetStation()" type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button (click)="sendStation()" type="submit" class="btn btn-success" data-dismiss="modal" [disabled]="!updateStationFormNg.form.valid">Envoyer
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>