#mapid{
  height: 80vh;
  width: 100%;
}

.list-group{
  max-height: 75vh;
  cursor: pointer;
}

.list-group{
  overflow: hidden;
  overflow-y: scroll;
}

.list-group a{
  color: #0b0b0b;
  padding-left: 5px;
}

i {
  cursor: pointer;
}

.fa-info-circle{
  color: #039be4;
}
