<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand bigger" [routerLink]="['/']">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let menuItem of menu.left ">
        <a class="nav-link" [routerLink]="['/', menuItem.path]">{{menuItem.name}}</a>
      </li>

    </ul>

    <ul class=" navbar-nav">
      <li class="nav-item" *ngFor="let menuItem of menu.right ">
        <a class="nav-link" [routerLink]="['/', menuItem.path]">{{menuItem.name}}</a>
      </li>
      <li class=" nav-item">
        <a class="nav-link" [routerLink]="['faq']"><i class="far fa-question-circle"></i></a>
      </li>
    </ul>
  </div>
</nav>
