<div *ngIf="!showUsers && !showStations && !showDatas">
  <h2>Rien à afficher</h2>
</div>
<div *ngIf="showUsers">
  <h1>
    Utilisateur(s) en attente de validation
  </h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th *ngFor="let head of headersUsers">

          {{head}}
          <i class="fa fa-sort float-right" aria-hidden="true" (click)="sortData(head)"></i>
        </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i;">
        <td>{{i+1}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.mail}}</td>
        <td>{{user.niceDate}}</td>
        <td>
          <i class="fas fa-check fa-fw fa-1x" (click)="acceptUser(user._id)"></i>
          <i class="fas fa-trash fa-fw fa-1x" data-toggle="modal" (click)="setCurrUser(user._id)" data-target=" #refuseUserModal"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="showStations">
  <h1>
    Station(s) en attente de validation
  </h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th *ngFor="let head of headersStation">

          {{head}}
          <i class="fa fa-sort float-right" aria-hidden="true" (click)="sortData(head)"></i>
        </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let station of stations; index as i;">
        <td>{{i+1}}</td>
        <td>{{station.name}}</td>
        <td>{{station.latitude}},{{station.longitude}}</td>
        <td>{{station.interval}}</td>
        <td>RECUP L'auteur</td>
        <td>{{station.niceDateCreatedAt}}</td>
        <td>
          <i class="fas fa-check fa-fw fa-1x" (click)="acceptStation(station)"></i>
          <i class="fas fa-trash fa-fw fa-1x"></i>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<div *ngIf="showDatas">
  <h1>
    Donnée(s) en attente de validation
  </h1>
</div>

<!-- Modal refuse user -->
<div class="modal fade" id="refuseUserModal" tabindex="-1" role="dialog" aria-labelledby="refuseUserModalLabel" aria-hidden="true">
  <app-refuse-user-modal [currUser]=currUser (sent)="loadAwaitingUsers($event)"></app-refuse-user-modal>
</div>