<div class="row details">
  <div class="col-md-4" *ngIf="currentStation">
    <div class="row">
      <div class="col-md-12">
        <h5>Nom :
          <!--<div class="float-right">
            <i class="fas fa-edit fa-fw fa-1x" data-toggle="modal" data-target="#updateStationModal" *ngIf="hasAdminAccess()"></i>
            <a [routerLink]="['/','stations',  currentStation._id, 'import']"><i class="fas fa-file-download fa-fw fa-1x" *ngIf="hasAccessToStation(currentStation)"></i></a>
            &lt;!&ndash;&ndash;&gt;
          </div>-->
        </h5>
      </div>
      <div class="col-md-11 offset-md-1">
        <h2>{{currentStation.name}}</h2>
      </div>

      <div class="col-md-12">
        <h5>Interval : </h5>
      </div>
      <div class="col-md-11 offset-md-1">
        <h4>{{currentStation.interval}}</h4>
      </div>

      <div class="col-md-12">
        <h5>Commune : </h5>
      </div>
      <div class="col-md-11 offset-md-1">
        <h4>{{currentStation.commune}}</h4>
      </div>

      <div class="col-md-12">
        <h5>Rivière : </h5>
      </div>
      <div class="col-md-11 offset-md-1">
        <h4>{{currentStation.river}}</h4>
      </div>

      <div class="col-md-12">
        <h5>Coordonnées : </h5>
      </div>
      <div class="col-md-11 offset-md-1">
        <h5>{{currentStation.latitude}}, {{currentStation.longitude}}</h5>
      </div>
      <div class="col-md-12">
        <h5>Altitude : </h5>
      </div>
      <div class="col-md-11 offset-md-1">
        <h5>{{currentStation.altitude || 'Pas d\'altitude renseigné'}}</h5>
      </div>

      <div class="col-md-12">
        <h5>Date d'installation : </h5>
      </div>
      <div class="col-md-11 offset-md-1">
        <h5>{{currentStation.createdAt | date: 'd/MM/yyyy':'UTC'}}</h5>
      </div>
      <div class="col-md-12">
        <h5>Statut : </h5>
      </div>
      <div class="col-md-11 offset-md-1">
        <h2>{{getState(currentStation)}}</h2>
      </div>
    </div>
  </div>

    <div class="col-md-7">
      <div class="row detail-actions">
        <div class="col-md-4">
          <button class="btn btn-primary btn-sm">
            Modifier la station
            <i class="fas fa-edit" style="color: white"></i>
          </button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-success btn-sm">
            Importer des données
            <i class="fas fa-file-download" style="color: white" ></i>
          </button>
        </div>
        <div class="col-md-4" *ngIf="hasViewerAcces()">
          <button class="btn btn-secondary btn-sm"  (click)="setDownloadClick()" data-toggle="modal" data-target="#DownloadStationModalLabel">
            Télécharger des données
            <i class="fas fa-file-download" style="color: white"></i>
          </button>
        </div>
      </div>
      <div class="col-md" id="mapId">
      </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="updateStationModal" tabindex="-1" role="dialog" aria-labelledby="updateStationModalLabel" aria-hidden="true">
  <div *ngIf="currentStation">
    <app-update-sation-modal [stationToUpdate]=currentStation (updated)="reloadStation($event)"></app-update-sation-modal>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="DownloadStationModalLabel" role="dialog" aria-labelledby="DownloadStationModalLabel" aria-hidden="true">
  <div *ngIf="currentStation">
    <app-download-data-modal (downlaod)="downloadData($event)"></app-download-data-modal>
  </div>

</div>
