<h1>Hi {{currentUser.mail}}!</h1>
<h3>Liste des utilisateurs</h3>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th *ngFor="let head of headersUsers">

        {{head}}
        <i class="fa fa-sort float-right" aria-hidden="true" (click)="sortData(head)"></i>
      </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; index as i;">
      <td>{{i+1}}</td>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.mail}}</td>
      <td>{{user.niceDateCreatedAt}}</td>
      <td>{{user.niceDateLastCo}}</td>
      <td>{{user.role}}</td>
      <td>{{user.state}}</td>
      <td>
        <i class="fas fa-edit fa-fw fa-1x"></i>
        <i class="fas fa-trash fa-fw fa-1x" (click)="deleteUser(user._id)"></i>
      </td>
    </tr>
  </tbody>
</table>