<h1>Tableaux</h1>
<div *ngIf="currentStation">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        Station: {{currentStation.name}}
      </div>
      <div class="col-md-3">
        Commune: {{currentStation.commune}}
      </div>
      <div class="col-md-3">
        Bassin versant: {{currentStation.bassin_versant}}
      </div>
      <div class="col-md-3" *ngIf="hasAccessToStation()">
        <a [routerLink]="['/','stations',  currentStation._id, 'import']" class="btn btn-success btn-sm"> Importer des données <i class="fas fa-file-download fa-fw fa-1x white"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row someSpace">

  <div class="col-md-2">
    <div class="form-group">
      <select class="form-control" (change)="affichageDispoFunc($event.target.value)">
        <option selected disabled>Type d'affichage</option>
        <option *ngIf="intervalsFiltered && intervalsFilteredMn.length > 0">{{affJour}}</option>
        <option>{{affMens}}</option>
      </select>
    </div>
  </div>

  <div [hidden]="affichageSelected != affJour" class="col-md-2">
    <div class="form-group">
      <select class="form-control" (change)="intervalleChanged($event.target.value)">
        <option selected disabled>Intervalle</option>
        <option *ngFor="let i of intervalsFilteredMn;let first= first;" [value]="i" [selected]="first">{{i}}</option>
      </select>
    </div>
  </div>

  <div [hidden]="affichageSelected != affMens" class="col-md-2">
    <div class="form-group">
      <select class="form-control" (change)="intervalleChanged($event.target.value)">
        <option selected disabled>Intervalle</option>
        <option *ngFor="let i of intervalsFilteredH; let first= first;" [value]="i" [selected]="first">{{i}}</option>
      </select>
    </div>
  </div>
  <div [hidden]="affichageSelected != affJour" class="col-md-2">
    <mat-form-field>
      <input matInput id="datePicker" [matDatepicker]="datePickerDay" (dateChange)="dateChanged($event.value);" placeholder="Choisissez une date">
      <mat-datepicker-toggle matSuffix [for]="datePickerDay"></mat-datepicker-toggle>
      <mat-datepicker #datePickerDay></mat-datepicker>
    </mat-form-field>
  </div>
  <div [hidden]="affichageSelected != affMens" class="col-md-4">
    <mat-form-field>
      <input matInput id="monthSelector" [matDatepicker]="datePickerMonth" md-mode="month" placeholder="Choisissez un mois">
      <mat-datepicker-toggle matSuffix [for]="datePickerMonth"></mat-datepicker-toggle>
      <mat-datepicker #datePickerMonth startView="year" (monthSelected)="monthPicked($event,datePickerMonth);"></mat-datepicker>
    </mat-form-field>
  </div>

</div>
<div *ngIf="noDateSelected" class="container col-md-3">
  <div class="alert alert-info">Veuillez sélectionner une date</div>
</div>

<div *ngIf="dataLoading" class="text-center container">
  <i class="fas fa-spinner fa-spin fa-7x"></i>
</div>
<div *ngIf="noData" class="text-center container">
  <h1>Pas de donnée(s) pour la date sélectionnée</h1>
</div>

<div *ngIf="dataToShow" class="someSpace">
  <div class="alert alert-info col-md-9">
    <h5><i class="far fa-question-circle"></i> Les colonnes représentent les heures/jours et les lignes les minutes/heures en fonction de l'intervalle choisi</h5>
    <h5><i class="far fa-question-circle"></i> Le tableau se lit donc de haut en bas</h5>
    <h5><i class="far fa-question-circle"></i> Si vous êtes perdu dans le tableau, laissez votre souris sur une case et elle vous affichera l'heure.</h5>
    <h5 *ngIf="hasWorkerAccess() && !sameIntervalAsStation"><i class="far fa-question-circle"></i> Pour éditer une donnée, mettez-vous dans l'intervalle disponible la plus petite et cliquer sur la case que vous souhaitez éditer</h5>
    <h5 *ngIf="hasWorkerAccess() && sameIntervalAsStation"><i class="far fa-question-circle"></i> En cliquant sur une case vous pourrez en éditer le contenu</h5>
  </div>
  <h1 *ngIf="affichageSelected == affJour">Affichage journalier ({{intervalSelected}}) pour le jour : {{datePickedMem.getDate()}}/{{datePickedMem.getMonth()+1}}/{{datePickedMem.getFullYear()}} </h1>
  <h1 *ngIf="affichageSelected == affMens">Affichage mensuel ({{intervalSelected}}) pour le mois : {{datePickedMem.getMonth()+1}}/{{datePickedMem.getFullYear()}}</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="topLeftCell"></th>
        <th scope="col" class="solidBorderBot" *ngFor="let colName of cols">{{colName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowName of rows; let i = index">
        <th scope="row" class="solidBorderRight">{{rowName}}</th>
        <th *ngFor="let tmp of getRange(aggregatedDatas.length); let idx = index">
          <div *ngIf="aggregatedDatas[idx][i].value || aggregatedDatas[idx][i].value == 0 ; else has_no_data" title="{{cols[idx]}}{{splitHourOfDate}}{{rowName}}">
            <div *ngIf="sameIntervalAsStation; else no_interval_with_data" (click)="editData(aggregatedDatas[idx][i])" data-toggle="modal" data-target="#updateDataModal">{{aggregatedDatas[idx][i].value}}</div>
            <ng-template #no_interval_with_data> {{aggregatedDatas[idx][i].value}}</ng-template>
          </div>
          <ng-template #has_no_data>
            <div title="{{cols[idx]}}{{splitHourOfDate}}{{rowName}}">
              <div *ngIf="sameIntervalAsStation; else no_interval_noData" (click)="editData(aggregatedDatas[idx][i])" data-toggle="modal" data-target="#updateDataModal"> - </div>
              <ng-template #no_interval_noData> - </ng-template>
            </div>
          </ng-template>
        </th>
      </tr>
    </tbody>
    <tfoot *ngIf="aggregatedDatas[0].length > 4">
      <tr>
        <th scope="col" class="bottomLeftCell"></th>
        <th scope="col" class="solidBorderTop" *ngFor="let colName of cols">{{colName}}</th>
      </tr>
    </tfoot>
  </table>
  <hr>
  <h2>Récapitulatif</h2>
  <table class="table table-bordered" id="tableRecap">
    <thead>
      <tr>
        <th scope="col" class="topLeftCell"></th>
        <th scope="col" class="solidBorderBot" *ngFor="let colName of cols">{{colName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="solidBorderRight">Moyenne</th>
        <th class="widthMe" *ngFor="let tmp of sums">
          <div *ngIf="tmp; else has_data">{{tmp | number:'1.1-2'}}</div>
          <ng-template #has_data> - </ng-template>
        </th>
      </tr>
      <tr>
        <th scope="row" class="solidBorderRight">Min ({{hourOfDate}})</th>
        <th *ngFor="let tmp of mins; index as i">
          <div *ngIf="tmp && tmp.value != 9007199254740991; else has_data">{{tmp.value}} <br /> {{cols[i]}}{{splitHourOfDate}}{{tmp.date}}</div>
          <ng-template #has_data> - </ng-template>
        </th>
      </tr>
      <tr>
        <th scope="row" class="solidBorderRight">Max ({{hourOfDate}})</th>
        <th *ngFor="let tmp of maxs; index as i">
          <div *ngIf="tmp && tmp.value !=-1; else has_data">{{tmp.value}} <br /> {{cols[i]}}{{splitHourOfDate}}{{tmp.date}}</div>
          <ng-template #has_data> - </ng-template>
        </th>
      </tr>
    </tbody>
  </table>
  <div class="someSpace">
    <div class="row">
      <div class="col-md-3">
        Minimum absolu : {{totMin}}
      </div>
      <div class="col-md-3">
        Maximum absolu : {{totMax}}
      </div>
      <div class="col-md-3">
        Somme : {{totSum | number:'1.1-2'}}
      </div>
      <div class="col-md-3">
        Nombre de valeurs : {{totVals}}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateDataModal" tabindex="-1" role="dialog" aria-labelledby="updateDataModalLabel" aria-hidden="true">
  <div *ngIf="dataToEdit">
    <app-update-data-modal [dataToUpdate]="dataToEdit" [id_station]="stationId"></app-update-data-modal>
  </div>
</div>