<h1>Tableaux</h1>
<div *ngIf="currentStation">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        Station : {{currentStation.name}}
      </div>
      <div class="col-md-4">
        Commune : {{currentStation.commune}}
      </div>
      <div class="col-md-4">
        Rivière : {{currentStation.river}}
      </div>
    </div>
  </div>
</div>
<div class="row someSpace">
  <div class="col-md-2">
    <div class="form-group">
      <select class="form-control" (change)="intervalleChanged($event.target.value)">
        <option value="" disabled selected>Intervalle</option>
        <option *ngFor="let i of intervalsFiltered" [value]="i">{{i}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <input id="datePicker" placeholder="Date" type="text" class="flatpickr flatpickr-input form-control" required>
  </div>
</div>
<div *ngIf="noDateSelected || noIntervalSelected" class="container">
  <h1>Veuillez sélectionner une date et un intervalle</h1>
</div>

<div *ngIf="dataLoading && !noIntervalSelected" class="text-center container">
  <i class="fas fa-spinner fa-spin fa-7x"></i>
</div>
<div *ngIf="noData && !noIntervalSelected" class="text-center container">
  <h1>Pas de donnée(s) pour la date sélectionnée</h1>
</div>

<div *ngIf="dataToShow && !noIntervalSelected" class="someSpace">
  <h5>Les colonnes représentent les heures et les lignes les minutes</h5>
  <h5>Le tableau se lit donc de haut en bas</h5>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="topLeftCell"></th>
        <th scope="col" class="solidBorderBot" *ngFor="let colName of cols">{{colName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowName of rows; let i = index">
        <th scope="row" class="solidBorderRight">{{rowName}}</th>
        <th *ngFor="let tmp of getRange(24); let idx = index">
          <div *ngIf="aggregatedDatas[(idx*ratio)+i].value || aggregatedDatas[(idx*ratio)+i].value == 0 ; else has_data"> {{aggregatedDatas[(idx*ratio)+i].value}} </div>
          <ng-template #has_data> - </ng-template>
        </th>
      </tr>
    </tbody>
  </table>
</div>