.someSpace {
  padding: 10px;
}

.fas {
  color: #4286f4;
}

.topLeftCell {
  border-top: 1px solid Transparent !important;
  border-left: 1px solid Transparent !important;
  border-bottom: 1px solid !important;
  border-right: 1px solid !important;
}

.solidBorderBot {
  border-bottom: 1px solid !important;
}

.solidBorderRight {
  border-right: 1px solid !important;
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}

table {
  width: 100% !important;
}

th {
  padding: 10px 4px 10px 4px;
  max-width: 60px;
  min-width: 60px;
}