<h1>Gestion de mes stations </h1>

<label>Recherche:
  <input type="text">
</label>

<!-- Button trigger modal -->
<i class="float-right fas fa-plus-circle fa-2x" (click)="openModal()">
</i>


<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th *ngFor="let head of headers">{{head}}
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let station of stations; index as i;">
      <td>{{i+1}}</td>
      <td>{{station.name}}</td>
      <td>{{station.latitude}}</td>
      <td>{{station.longitude}}</td>
      <td>{{station.type}}</td>
      <td>{{station.state}}</td>
      <td>{{station.createdAt}}</td>
      <td>{{station.updatedAt}}</td>
      <td>
        <i class="fas fa-edit fa-fw fa-1x"></i>
        <i class="fas fa-file-download fa-fw fa-1x"></i>
        <i class="fas fa-trash fa-fw fa-1x"></i>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>



<!-- Modal -->
<div class="modal fade" id="addStationModal" tabindex="-1" role="dialog" aria-labelledby="addStationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStationModalLabel">Ajouter une station</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Trkil ou quoi ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Valider</button>
      </div>
    </div>
  </div>
</div>


<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStationModalLabel2">Ajouter une station</h5>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Trkil ou quoi ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCloseHandled()" >Fermer</button>
        <button type="button" class="btn btn-primary">Valider</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
