.fa-edit{
  color: blue;
}

.fa-file-download{
  color: green;
}

.fa-trash{
  color: red;
}

.fa-plus-circle{
  color: blue;
}

.fas{
  cursor: pointer;
}

.fa-sort{
  cursor: pointer;
}

.backdrop{
  background-color:rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}

