<h1>Gestion de mes stations </h1>

<label>Recherche: <input type="search" class="form-control form-control-sm" placeholder="">
</label>
<i class="float-right fas fa-plus-circle fa-2x" style="color:blue"></i>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th class="th-sm">Nom
      <i class="fa fa-sort float-right" aria-hidden="true"></i>
    </th>
    <th scope="col">Latitude
      <i class="fa fa-sort float-right" aria-hidden="true"></i>
    </th>
    <th scope="col">Longitude
      <i class="fa fa-sort float-right" aria-hidden="true"></i>
    </th>
    <th scope="col">Type
      <i class="fa fa-sort float-right" aria-hidden="true"></i>
    </th>
    <th scope="col">Etat
      <i class="fa fa-sort float-right" aria-hidden="true"></i>
    </th>
    <th scope="col">Créé le
      <i class="fa fa-sort float-right" aria-hidden="true"></i>
    </th>
    <th scope="col">Dernière modification
      <i class="fa fa-sort float-right" aria-hidden="true"></i>
    </th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Cavaillon 1</td>
    <td>19.303355</td>
    <td>-73.663066</td>
    <td>hydro</td>
    <td>attente</td>
    <td>2018-10-04T13:59:59.093Z</td>
    <td>2018-10-04T13:59:59.093Z</td>
    <td>
      <i class="fas fa-edit fa-fw fa-1x" style="color:blue"></i>
      <i class="fas fa-file-download fa-fw fa-1x" style="color:green"></i>
      <i class="fas fa-trash fa-fw fa-1x" style="color:red"></i>
    </td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Cavaillon 1</td>
    <td>19.303355</td>
    <td>-73.663066</td>
    <td>hydro</td>
    <td>attente</td>
    <td>2018-10-04T13:59:59.093Z</td>
    <td>2018-10-04T13:59:59.093Z</td>
    <td>
      <i class="fas fa-edit fa-fw fa-2x" style="color:blue"></i>
      <i class="fas fa-file-download fa-fw fa-2x" style="color:green"></i>
      <i class="fas fa-trash fa-fw fa-2x" style="color:red"></i>
    </td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Cavaillon 1</td>
    <td>19.303355</td>
    <td>-73.663066</td>
    <td>hydro</td>
    <td>attente</td>
    <td>2018-10-04T13:59:59.093Z</td>
    <td>2018-10-04T13:59:59.093Z</td>
    <td>
      <i class="fas fa-edit fa-fw fa-2x" style="color:blue"></i>
      <i class="fas fa-file-download fa-fw fa-2x" style="color:green"></i>
      <i class="fas fa-trash fa-fw fa-2x" style="color:red"></i>
    </td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Cavaillon 1</td>
    <td>19.303355</td>
    <td>-73.663066</td>
    <td>hydro</td>
    <td>attente</td>
    <td>2018-10-04T13:59:59.093Z</td>
    <td>2018-10-04T13:59:59.093Z</td>
    <td>
      <i class="fas fa-edit fa-fw fa-2x" style="color:blue"></i>
      <i class="fas fa-file-download fa-fw fa-2x" style="color:green"></i>
      <i class="fas fa-trash fa-fw fa-2x" style="color:red"></i>
    </td>
  </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
